allure-behave
allure-pytest
Appium-Python-Client
behave
config
iniconfig
openpyxl
pandas
parse
pytest
python-dotenv
requests~=2.31.0
sauceclient
selenium~=4.9.0
webdriver-manager
beautifulsoup4~=4.12.2
Image
Pillow~=10.0.0
python-docx
docx~=0.2.4
pyautogui
xlrd
pyodbc